# Entorno virtual
venv/
.env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp
*.swo

# Archivos generados por PLY
gfl/parsetab.py
gfl/lextab.py
gfl/parser.out
*.out

# Directorios de modelos finetuneados (si no deben ser versionados)
gfl_finetuned_model/
GeneForgeLang
geneforgelang.egg-info/
dist/
build/
GeneForge/

# MkDocs build output
site/

# Documentation build artifacts
.mkdocs_cache/
